<section id="box">
    <p>   
        <form name="frmBuscador" method="post" action="/animales/buscar">  
            <input type="search" id="Buscado" name="user[buscador]" class="Buscador" placeholder="Buscar animal..." />
        </form>	   

   </p>
</section>
<ul>
    <% animales.forEach(function(animal) { %>
        <p>
            <li>
                <div class="top">
                    <h1>
                        <%- animal.nombre %>
                    </h1>
                    <div class="circle"><img src="../images/Default_Animal.png" alt="Logo por defecto" width="40" height="40"></div>
                    <p style="font-size: 12px;color: black;" >     <%- animal.tipo %>  </p>
                </div>
                <div class="bottom">
                    <br>
                    <p><span> Raza:          </span> <%- animal.raza %>         </p>
                    <p><span> Edad:          </span> <%- animal.edad %>         </p>
                    <p><span> Genero:        </span> <%- animal.genero %>       </p>

                    <span><b>image:</b> <img src="uploads/<%= animal.image %>" alt=""></span> 
                    <!-- <div class="sign">
                    <a href='#' class='button'>Ver mas detalles..</a>
                    </div> -->
                </div>
                </li>
        </p>
    <% }); %>
</ul>




        <div class="borde">
            <h1>Listado de Datos</h1>
            <% animales.forEach(function(animal) { %>
                <p>
                <span><b>nombre:</b><%- animal.nombre %></span> 
                <span><b>tipo:</b> <%- animal.tipo %></span>
                <span><b>raza:</b> <%- animal.raza %></span>
                <span><b>rango:</b> <%- animal.edad %></span> 

                <span><b>genero:</b> <%- animal.genero %></span>
                <span><b>descripcion:</b> <%- animal.descripcion %></span> 
                <span><b>image:</b> <img src="uploads/<%= animal.image %>" alt=""></span> 
            </p>
            <% }); %>
        </div> 
