<div id="animal">

  <div class="top">
    <h1>
        {{adoptante.user.nombre}}
    </h1>
            {{> messages }}
  </div>
    <div class="bottom">
      <div class="animal_image">

      </div>
              <p><span> Email:          </span> {{ adoptante.email }}         </p>
        <p><span> Telefono:          </span> {{ adoptante.user.telefono }}         </p>
                <p><span> DNI:        </span> {{ adoptante.user.dni }}       </p>
        <p><span> Descripción:        </span> {{ adoptante.user.descripcion }}       </p>
    </div>
</div>