<div id="card-animal">
  <div class="card-animal_titulo">
    <h1>
      {{adoptanteRender.user.nombre}}
    </h1>
  </div>
  <div class="card-animal_content">
    <div class="card-animal-datos_image">
      <img src="/uploads/{{ adoptanteRender.user.image }}" alt="adoptante">
    </div>
    <div class="card-animal_datos">
      <p><span> Email:          </span> {{ adoptanteRender.email }}         </p>
      <p><span> Telefono:          </span> {{ adoptanteRender.user.telefono }}         </p>
      <p><span> DNI:        </span> {{ adoptanteRender.user.dni }}       </p>
      <p><span> Descripción:        </span> {{ adoptanteRender.user.descripcion }}       </p>
    </div>
  </div>
</div>