<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
        {{> messages }}
      <div class="card-header">
        <h1>
          Editar Protectora
        </h1>

      </div>
              {{#protectora}}
            <div class="animal_image">
                <img class="" src="/uploads/{{ user.image }}" alt="Logo">
            </div>
      <div class="card-body">
              <form action="/users/edit-protectora" method="POST" enctype="multipart/form-data">
              
          <div class="form-group">
            <label class="form-label" for="inputEmail">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          </div>
          <div class="form-group">
            <label class="form-label" for="inputNombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{user.nombre}}">
          </div>

          <div class="form-group">
            <label class="form-label" for="inputCif">Cif</label>
            <input type="text" class="form-control" name="cif" placeholder="Cif" value="{{user.cif}}">
          </div>
          <div class="form-group">
            <label class="form-label" for="inputTelefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" placeholder="Telefono" value="{{user.telefono}}">
          </div>
          <div class="form-group">
            <label class="form-label" for="inputCiudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" placeholder="Ciudad" value="{{user.ciudad}}">
          </div>
          <div class="form-group">
            <label class="form-label" for="inputImage">Imagen</label>
            <input class="form-control" type="file" name="image" id="inputImage">

          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción</label>
            <textarea class="form-control" name="descripcion" id="inlineDescription" placeholder="Descripcion del animal">{{user.descripcion}}</textarea>
          </div>
          <div>
            
            <button class="btn btn-primary btn-block">
              Editar protectora 
            </button>
          </div>

        </form>
      </div>
              {{/protectora}}
    </div>
  </div>
</div>