<div id="animal">

  <div class="top">
    <h1>
        {{protectora.user.nombre}}
    </h1>
            {{> messages }}
  </div>
    <div class="bottom">
      <div class="animal_image">
      <img src="/uploads/{{ protectora.user.image }}" alt="avatar_protectora">
      </div>
              <p><span> Email:          </span> {{ protectora.email }}         </p>
        <p><span> Telefono:          </span> {{ protectora.user.telefono }}         </p>
                <p><span> Ciudad:          </span> {{ protectora.user.ciudad }}         </p>
                <p><span> CIF:        </span> {{ protectora.user.cif }}       </p>
        <p><span> Descripción:        </span> {{ protectora.user.descripcion }}       </p>
    </div>
</div>
