<div id="animal">

  <div class="top">
    <h1>
        {{protectora.nombre}}
    </h1>
  </div>
    <div class="bottom">
      <div class="animal_image">
        <img src="/uploads/{{ protectora.image }}" alt="perrete">
      </div>
        <p><span> Telefono:          </span> {{ protectora.telefono }}         </p>
        <p><span> CIF:        </span> {{ protectora.cif }}       </p>
        <p><span> Descripción:        </span> {{ protectora.descripcion }}       </p>
    </div>
</div>