<div id="car-protectora">
    <div class="card-protectora_titulo">
        <h1>
            {{protectoraRender.user.nombre}}
        </h1>
    </div>
    <div class="card-protectora_content">
        <div class="card-protectora-datos_image">
                    {{#if protectoraRender.user.image}}
                    <div class=""><img id="protectora_logo_card" class="circle_logo" src="../../uploads/{{protectoraRender.user.image}}"
                            width="60" height="60"></div>
                    {{/if}}
                    {{^if protectoraRender.user.image}}
                    <div class=""><img id="protectora_logo_card" class="circle_logo" src="../../images/logo.png" width="60"
                            height="60"></div>
                    {{/if}}        </div>
        <div class="card-protectora_datos">
            <p><span> Email: </span> {{ protectoraRender.email }} </p>
            <p><span> Telefono: </span> {{ protectoraRender.user.telefono }} </p>
            <p><span> Ciudad: </span> {{ protectoraRender.user.ciudad }} </p>
            <p><span> CIF: </span> {{ protectoraRender.user.cif }} </p>
            <p><span> Descripción: </span> {{ protectoraRender.user.descripcion }} </p>
        </div>
    </div>
</div>
<div class="animales-protectora">
    <ul class="animales-protectora_wrapper">
        {{#each protectoraRender.user.animales}}
            <li class="animales-protectora_card">
                <div class="animales-protectora-card_header">
                    <h1 class="animales-protectora-card_header-title">
                        {{nombre}}
                    </h1>
                    <div class="animales-protectora-card_header-img"><img id="avatar_animal" src="../../images/{{tipo}}.png" width="60" height="60"></div>
                </div>
                <div class="animales-protectora-card_content">
                    <p><span> Tipo: </span> {{ tipo }} </p>
                    <p><span> Raza: </span> {{ raza }} </p>
                    <p><span> Género: </span> {{ genero}} </p>
                    <div class="sign">
                        <a href='/animales/animal/{{id }}' class='button'>Ver más detalles..</a>
                    </div>
                </div>
            </li>
        {{/each}}

    </ul>
</div>
