<div id="animales">
    <section id="box">
        <table id="caja_busqueda_avanzada" style="display: none;" >
        <form name="frmBuscador" method="post" action="/users/protectoras/buscar">
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td> Ciudad &nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td> <!-- --------------------  Filtro busqueda por ciudad --------------------                      <option value="Todos"} ></option> --> 
                    <select  id='filtrado_ciudad'  onclick='onBusquedaProtectora_Ciudad()'  style=" text-transform: lowercase;" > 
                         <option value=""> Mostras todas las ciudades  </option> 
                        {{#each protectora_filtrado_ciudad }} 
                            <option value={{this}}> {{this}} </option> 
                        {{/each}} 
                    </select>
                </td>
            </tr>
             <tr>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td> Descripcion &nbsp;&nbsp;&nbsp;&nbsp; </td>
                 <td>
                       <input type="hidden"   id = "filtro_tipo_ciudad"   name="busqueda" value=""   />
                       <input type="search" id="Buscado"           name="busqueda"  class="Buscador"  placeholder="Busqueda por descripción.. " />
                </td>
                <td colspan="8"> &nbsp;&nbsp;&nbsp; 
                    <input type="submit" id="btnFiltrarAnimal"  name="buscar"    value="Busqueda avanzada"  title="" >  
                </form>
                </td>
            </tr>
             <tr>
                <td colspan="8" >
                &nbsp;&nbsp;&nbsp;&nbsp; <button onclick="AccionBusquedaGeneral()" id="linkAccionBusqueda" name="linkAccionBusqueda" title="Has clic aqui para realizar una busqueda general..." >Has clic aqui para realizar una busqueda avanzada... </button>
                </td>
            </tr>

        </table>
        <table id="caja_busqueda_general">
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td> Busqueda general  &nbsp;&nbsp;&nbsp;&nbsp; </td>  
                <td  >             
                    <form name="frmBuscador" method="post" action="/users/protectoras/buscar">
                        <input type="search" id="Buscado"           name="busqueda"  class="Buscador"  placeholder="Busqueda general protectora... Ej: Nombre protectora, ciudad... " />
                        <input type="submit" id="btnFiltrarAnimal"  name="buscar"    value="Busqueda general"  title="" >  
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="8" >
                &nbsp;&nbsp;&nbsp;&nbsp; <button onclick="AccionBusquedaAvanzada()" id="linkAccionBusqueda" name="linkAccionBusqueda" title="Has clic aqui para realizar una busqueda avanzada..." >Has clic aqui para realizar una busqueda avanzada... </button>
                </td>
            </tr>
        </table> 
    </section>
    <ul>
        {{#each protectoras}}
            <p>
                <li>
                    <div class="top">
                        <h1>
                            {{#if this.user.nombre}}  {{this.user.nombre}} {{else}} {{nombre}}  {{/if}}
                        </h1>

                                        {{#if image}} 
                                                <div class=""><img id="avatar_animal" class="circle_logo" src="{{#if image}}../uploads/{{image}} {{else}}../images/logo.png{{/if}}" width="60" height="60"></div>
                                         {{else}}  
                                                <div class=""><img id="avatar_animal" class="circle_logo" src="{{#if this.user.image}}../uploads/{{this.user.image}} {{else}}../images/logo.png{{/if}}" width="60" height="60"></div>
                                         {{/if}} 

                    </div>
                    <div class="bottom">
                        <br>
                        <p><span> Email:          </span> {{#if this.user.email}}  {{this.user.email}} {{else}} {{email}}  {{/if}}       </p>
                        <p><span> Ciudad:        </span>  {{#if this.user.ciudad}}  {{this.user.ciudad}} {{else}} {{ciudad}}  {{/if}}     </p>
                        <div class="sign">
                        <a href='/users/protectora/{{id}}' class='button'>Ver mas detalles..</a>
                        </div>
                    </div>
                    </li>
            </p>
        {{/each}}
       
    </ul>
    
    </div>