<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4">
      <div class="card-header">
        <h1 >
          Añadir animales
        </h1>
      </div>

      <div class="card-body">
        <form action="/animales/add" method="POST" enctype="multipart/form-data" novalidate>
          <div class="mb-3">
            <label for="validationNombre" class="form-label">Nombre*</label>
            <input type="text" class="form-control {{#errors.nombre}}is-invalid{{/errors.nombre}}" name="nombre" value="{{body.nombre}}" id="validationNombre" aria-describedby="validationNombreFeedback" required>
            <div id="validationNombreFeedback" class="invalid-feedback">
              {{errors.nombre}}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="validationTipo">Tipo*</label>
            <input type="text" name="tipo" class="form-control {{#errors.tipo}}is-invalid{{/errors.tipo}}" id="validationTipoFeedback" placeholder="Tipo" value="{{body.tipo}}">
              <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.tipo}}
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputRaza">Raza*</label>
            <input type="text" name="raza" class="form-control {{#errors.raza}}is-invalid{{/errors.raza}}" id="inputRaza" placeholder="Raza" value="{{body.raza}}">
                       <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.raza}}
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputEmail">Edad</label>
            <input type="number" name="edad" class="form-control {{#errors.edad}}is-invalid{{/errors.edad}}" id="inputEdad" placeholder="Edad" value="{{body.edad}}">
                       <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.edad}}
              </div>
          </div>
          <legend class="col-form-label">Genero*</legend>
          <div class="form-check">
            <input class="form-check-input {{#errors.genero}}is-invalid{{/errors.genero}}" type="radio" name="genero" id="inlineMasculino" value="Macho" {{ checked.checkedM }}>
            <label class="form-check-label" for="inlineMasculino">Macho</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input {{#errors.genero}}is-invalid{{/errors.genero}}" type="radio" name="genero" id="inlineFemenino" value="Hembra" {{ checked.checkedH }}>
            <label class="form-check-label" for="inlineFemenino">Hembra</label>
            <div id="validationTipoFeedback" class="invalid-feedback">
              {{errors.genero}}
            </div>
          </div>


          <div class="mb-3">
            <label class="form-label" for="inputImage">Imagen</label>
            {{#if imageUploaded}}
            <img id="image" src="/uploads/{{ imageUploaded }}" width="60px" alt="image" /></br>
            {{/if}}
            <input class="form-control" type="text" hidden name="imageUploaded" {{#if imageUploaded}}value="{{imageUploaded}}"{{/if}}  id="inputImage">
            <input class="form-control {{#errors.file}}is-invalid{{/errors.file}}" type="file" name="image" id="inputImage">
              <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.image}}
              </div>
          </div>

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Historial médico</label>
            {{#if historialUploaded}}
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16" style="color: red;">
                  <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                </svg>
                <a href="/uploads/{{historialUploaded}}" attributes-list download>Historial médico</a>
              </span>
            {{/if}}
            <input class="form-control" type="text" hidden name="historialUploaded" {{#if historialUploaded}}value="{{historialUploaded}}"{{/if}}  id="inputHistorial">
            <input class="form-control {{#errors.historial}}is-invalid{{/errors.historial}}" type="file" name="historial" id="inputHistorial">
            <div id="validationHistorialFeedback" class="invalid-feedback">
              {{errors.historial}}
            </div>
          </div>

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción</label>
            <textarea class="form-control {{#errors.descripcion}}is-invalid{{/errors.descripcion}}" name="descripcion" id="inlineDescription" placeholder="Descripcion del animal">{{body.descripcion}}</textarea>
          <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.descripcion}}
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Crear animal</button>
      </form>
      </div>
    </div>
  </div>
</div>