<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4">
      <div class="card-header">
        <h1 >
          Añadir animales
        </h1>
      </div>

      <div class="card-body">
        <form action="/animales/add" method="POST" enctype="multipart/form-data" novalidate>
          <div class="col-md-3">
            <label for="validationNombre" class="form-label">Nombre*</label>
            <input type="text" class="form-control {{#errors.nombre}}is-invalid{{/errors.nombre}}" name="nombre" value="{{body.nombre}}" id="validationNombre" aria-describedby="validationNombreFeedback" required>
            <div id="validationNombreFeedback" class="invalid-feedback">
              {{errors.nombre}}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="validationTipo">Tipo*</label>
            <input type="text" name="tipo" class="form-control {{#errors.tipo}}is-invalid{{/errors.tipo}}" id="validationTipoFeedback" placeholder="Tipo" value="{{body.tipo}}">
              <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.tipo}}
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputRaza">Raza*</label>
            <input type="text" name="raza" class="form-control {{#errors.raza}}is-invalid{{/errors.raza}}" id="inputRaza" placeholder="Raza" value="{{body.raza}}">
                       <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.raza}}
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputEmail">Edad</label>
            <input type="number" name="edad" class="form-control {{#errors.edad}}is-invalid{{/errors.edad}}" id="inputEdad" placeholder="Edad" value="{{body.edad}}">
                       <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.edad}}
              </div>
          </div>
          <legend class="col-form-label">Genero*</legend>
          <div class="form-check">
            <input class="form-check-input {{#errors.genero}}is-invalid{{/errors.genero}}" type="radio" name="genero" id="inlineMasculino" value="Macho" {{ checkedM }}>
            <label class="form-check-label" for="inlineMasculino">Macho</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input {{#errors.genero}}is-invalid{{/errors.genero}}" type="radio" name="genero" id="inlineFemenino" value="Hembra" {{ checkedH }}>
            <label class="form-check-label" for="inlineFemenino">Hembra</label>
                            <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.genero}}
              </div>
          </div>


          <div class="mb-3">
            <label class="form-label" for="inputImage">Imagen</label>
            <input class="form-control {{#errors.file}}is-invalid{{/errors.file}}" type="file" name="image" id="inputImage">
              <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.file}}
              </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción</label>
            <textarea class="form-control {{#errors.descripcion}}is-invalid{{/errors.descripcion}}" name="descripcion" id="inlineDescription" placeholder="Descripcion del animal">{{body.descripcion}}</textarea>
          <div id="validationTipoFeedback" class="invalid-feedback">
                {{errors.descripcion}}
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Crear animal</button>
      </form>
      </div>
    </div>
  </div>
</div>