<div id="animales">
    <section id="box" class="buscador">

        <div class="busqueda_basica">
            <form name="frmBuscador" method="post" action="/animales/buscar">
                <input type="search" id="buscadorBasico" name="busqueda" class="buscadorBasico" placeholder="Busqueda general..." />
                <input type="submit" id="buscadorBasicoSubmit" class="buttonCustom" name="submit" value="Buscar">
            </form>
                    <button id="buttonMostrarFiltros" class="buttonCustom" style="display: block;" title="Filtros">Mostrar Filtros</button>
        <button id="buttonOcultarFiltros" class="buttonCustom" style="display: none;" title="Filtros">Ocultar Filtros</button>
        </div>

        <div id="busqueda_avanzada" style="display: none;">
            <form name="frmBuscador" method="post" action="/animales/buscar">
                <select name="tipo" id='' class="buttonCustom" onclick='onBusquedaAnimal_Tipo()'
                    style=" text-transform: lowercase;">
                    <option value="">Tipo</option>
                    {{#each animales_filtrado_tipo }}
                    <option value={{this}}> {{this}} </option>
                    {{/each}}
                </select>
                <select name="raza" id='' class="buttonCustom" onclick='onBusquedaAnimal_Tipo()'
                    style=" text-transform: lowercase;">
                    <option value="">Raza</option>
                    {{#each animales_filtrado_raza }}
                    <option value={{this}}> {{this}} </option>
                    {{/each}}
                </select>
                <select name="ciudad" id='' class="buttonCustom" onclick='onBusquedaAnimal_Tipo()'
                    style=" text-transform: lowercase;">
                    <option value="">Ciudad</option>
                    {{#each animales_filtrado_ciudad }}
                    <option value={{this}}> {{this}} </option>
                    {{/each}}
                </select>
                <div class="inputEdad">
                <input type="text" id="edad_minima_animal" name="busqueda" value="0" />
                <input type="range" id="filtrado_edad_minima" onclick="onBusquedaAnimal_Edad_Minima()" value="0" min="0"
                    max="50">
                <input type="range" id="filtrado_edad_maxima" onclick="onBusquedaAnimal_Edad_Maxima()" value="50"
                    min="0" max="50">
                <input type="text" id="edad_maxima_animal" name="busqueda" value="50" />

                </div>
                
                <div class="btn">
                    <button type="submit" name="submit" value="filtrar" class="buttonCustom">Filtrar</button>
                </div>

            </form>
        </div>
    </section>
    <div class="animales-protectora">
        <ul class="animales-protectora_wrapper">
            {{#each animales}}
            <li class="animales-protectora_card">
                <div class="animales-protectora-card_header">
                    <h1 class="animales-protectora-card_header-title">
                        {{nombre}}
                    </h1>
                    <div class="animales-protectora-card_header-img"><img id="avatar_animal"
                            src="../../images/{{tipo}}.png" width="60" height="60"></div>
                </div>
                <div class="animales-protectora-card_content">
                    <p><span> Tipo: </span> {{ tipo }} </p>
                    <p><span> Raza: </span> {{ raza }} </p>
                    <p><span> Género: </span> {{ genero}} </p>
                    <div class="sign">
                        <a href='/animales/animal/{{id }}' class='button'>Ver más detalles..</a>
                    </div>
                </div>
            </li>
            {{/each}}
                    {{^if animales}}
        <div style="padding-top:12px;color: white;text-align:center;">
            <h2>No se han encontrado resultados</h2>
        </div>
        {{/if}}

        </ul>
    </div>
    
</div>
