        {{> messages }}
<div id="animales">
    <section id="box">
        <p>
            <form name="frmBuscador" method="post" action="/animales/buscar">
                <input type="search" id="Buscado" name="busqueda" class="Buscador" placeholder="Buscar animal..." />
            </form>
    
       </p>
    </section>
    <ul>
        {{#each animales}}
            <p>
                <li>
                    <div class="top">
                        <h1>
                            {{nombre}}
                        </h1>
                        <div class=""><img id="avatar_animal" src="../images/{{tipo}}.png" width="60" height="60"></div>
                        <p>     {{tipo}}  </p>
                    </div>
                    <div class="bottom">
                        <br>
                        <p><span> Raza:          </span> {{ raza }}         </p>
                        <p><span> Genero:        </span> {{ genero}}       </p>
                        <div class="sign">
                        <a href='/animales/animal/{{id }}' class='button'>Ver mas detalles..</a>
                        </div>
                    </div>
                    </li>
            </p>
        {{/each}}
       
    </ul>
    
    </div>