
<div id="animal">

  <div class="top">
    <h1>
        {{animal.nombre}}
    </h1>
  </div>
          {{> messages }}
    <div class="bottom">
      <div class="animal_image">
        <img src="/uploads/{{ animal.image }}" alt="perrete">
      </div>
        <p><span> Tipo:          </span> {{ animal.tipo }}         </p>
        <p><span> Raza:          </span> {{ animal.raza }}         </p>
        <p><span> Edad:          </span> {{ animal.edad }}         </p>
        <p><span> Genero:        </span> {{ animal.genero }}       </p>
        <p><span> Ciudad:        </span> {{ animal.protectora.user.ciudad }}       </p>
        <p><span> Historial Médico:        </span> {{ animal.historial }}       </p>
        <p><span> Descripción:        </span> {{ animal.descripcion }}       </p>
      </div>
    </div>

      {{#if adoptante}}
        {{#if solicitado}}
          <span>Ya has solicitado la adopción del animal</span>    
        {{/if}}
        {{^solicitado}}
          <span>Si desea solicitar la adopción de {{animal.nombre}}, mandonos una <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#solicitud">
          solicitud</button> y nos pondremos en contacto con usted.<span>
        {{/solicitado}}
      {{/if}}     
      {{^if adoptante}}
        {{#if protectora}}  
          {{#canEdit}}
            <span>
              <form action="/animales/edit-animal/">
                <input type="text" class="form-control" id="id" name="id" value="{{animal.id}}" hidden>
                  <button type="submit" class="btn btn-primary">Editar animal</button>
              </form>
            </span>
            <span><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarAnimal">
          Eliminar</button> <span>
          {{/canEdit}} 
        {{/if}} 
        {{^if protectora}}  
          <span>Si desea solicitar la adopción de {{animal.nombre}} debe <a href="/users/registro">registrarse</a> como adoptante en nuestra página.
        {{/if}} 
      {{/if}} 
      



<!-- Modal -->
<div class="modal fade" id="solicitud" tabindex="-1" aria-labelledby="solicitudLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solicitudLabel">Solicitar adopción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="/animales/solicitud" method="POST">

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mensaje:</label>
            <textarea class="form-control" name="mensaje" id="message-text" placeholder="Cuentanos sobre ti. ¿Has tenido alguna experiencia con animales? ¿Vives en un Piso?"></textarea>
          </div>
          <input type="text" class="form-control" id="recipient-name" name="animal" value="{{animal.id}}" hidden>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Solicitar adopción</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="eliminarAnimal" tabindex="-1" aria-labelledby="eliminalAnimalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solicitudLabel">Eliminar animal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="/animales/animal/{{animal._id}}?_method=DELETE" method="post" >

          <div class="mb-3">
            ¿Estas seguro que quieres eliminar a {{animal.nombre}}?
          </div>
          <input type="text" class="form-control" id="recipient-name" name="animal" value="{{animal.id}}" hidden>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>