<p>
  <li>
      <div class="top">
          <h1>
              <%- animal.nombre %>
          </h1>
          
      </div>
      <div class="bottom">
        <div class="">          <img src="/uploads/<%= animal.image %>" alt="perrete" width="200" height="200"></div>
          <p>     <%- animal.tipo %>  </p>
          <p><span> Raza:          </span> <%- animal.raza %>         </p>
          <p><span> Edad:          </span> <%- animal.edad %>         </p>
          <p><span> Genero:        </span> <%- animal.genero %>       </p>

          <p><span> descripción:        </span> <%- animal.descripcion %>       </p>
      </div>
      </li>
</p>